## editors
/.idea
/.vscode
*.swp

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log

## testing
/coverage/
chrome.zip
chrome-linux

## temp folders
/.tmp/

# build
/_site/
/dist/
/out-tsc/

storybook-static
custom-elements.json
